notes.txt
processed_images/*
AI_consideration.txt
timeline.png
oriented_images/*
__pycache__/process_img.cpython-312.pyc
__pycache__/process_img.cpython-312.pyc
bboxImgs/*
pip_packages/*
__pycache__/*
*.pyc
images/*